/*
Color scheme:
#222629
#474B4f
#6b6e70
#f6ff16
*/

* {
  color: white;
}

html, body {
  height: 100%;
}
body {
  background-color: #222629;
}

a {
  color: #f6ff16;
  border: 1px solid #f6ff16;
  border-radius: 2px;
  padding: 2px;
}

footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0px;
}

option {
  color: black;
}

@keyframes linkit {

  from {color: #f6ff16;}
  to {color: #707322;}

}

a:hover {
  animation-name: linkit;
  animation-duration: 1s;
  color: #707322;
}

#otsikko {
  color: #f6ff16;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
}

#eikuvia {
  text-align: center;
}

.container {
  background-color: #222629
  height: 100%;
}

.card {
  background-color: #474B4f;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #f6ff16;
}

.jumbotron {
  background-color: #222629;
  border: 3px solid #f6ff16;
}
#elokuvat {
  background-color: inherit;
}

.icon {
  width: 17px;
  padding-right: 5px;
}

.card-title {
  padding-bottom: 7px;
}

.card-subtitle {
  padding-bottom: 7px;
}
